.container{
    width: 70%;
    box-shadow: 1px 1px 3px 1px lightgrey;
    height: 35px;
    border-radius: 10px;
    padding: 5px 10px;
    background-color: var(--secondary-color);
    display: flex;
}
