<div class="container">
    <div class="options-bar">
        <div class="views">
            <button class="views-button">All</button>
            <button class="views-button">Recent</button>
            <button class="views-button">Oldest</button>
        </div>
        <div class="edits">
            <a href="" routerLink="../new-event" routerLinkActive="active-link" class="edits-button"><img src="" alt=""> &nbsp; Add event</a>
            <button class="edits-button"><img src="" alt=""> &nbsp; Delete event</button>
        </div>
    </div>
    <h1>Events</h1>
    <app-event></app-event>
</div>