.container{
    height: 40px;
    width: 100%;
    display: flex;
    /* box-sizing: border-box; */
}
.search-container, .user{
    height: 100%;
    flex-basis: 50%;
    display: flex;
}
.search-container input{
    outline: none;
    border: none;
    height: 100%;
    width: 80%;
    padding-left: 10px;
    font-size: 13px;
}
.user{
    position: absolute;
    right: 0px;
    padding: 10px;
}