<div class="container">
    <div class="options-bar">
        <div class="views">
            <button class="views-button">All</button>
            <button class="views-button">Recent</button>
            <button class="views-button">Oldest</button>
        </div>
        <div class="edits">
            <a href="" routerLink="../new-note" routerLinkActive="active-link" class="edits-button"><img src="" alt="">
                &nbsp; Add note</a>
            <button class="edits-button"><img src="" alt=""> &nbsp; Delete note</button>
        </div>
    </div>
    <h1>Notes</h1>
    <app-notes *ngFor="let note of notes" [note]="note"></app-notes>
</div>