<div class="container">
    <h1>Create an event</h1>
    <form [formGroup]="eventForm">
        <label for="">Title <br>
            <input type="text" formControlName="title">
        </label><br><br>
        <label for=""> Description <br>
            <textarea name="" id="" cols="30" rows="10" formControlName="description"></textarea>
        </label><br><br>
        <div class="date">
            <label for="">Date <br>
                <input type="date" formControlName="date">
            </label>
            <label for="">Time <br>
                <input type="time" formControlName="time">
            </label>
        </div>
        <p>Repeat</p>
        <div class="repeat-options">
            <label for="just-once" ng-click="selected()" (click)="onRepeat('Once')">Just once
                <input type="radio" name="just-once" id="just-once">
            </label>
            <label for="daily" (click)="onRepeat('Daily')">Daily
                <input type=" radio" name="daily" id="daily">
            </label>
            <label for="weekly" (click)="onRepeat('Weekly')">Weekly
                <input type=" radio" name="weekly" id="weekly">
            </label>
            <label for="bi-weekly" (click)="onRepeat('Bi-weekly')">Bi-weekly
                <input type=" radio" name="bi-weekly" id="bi-weekly">
            </label>
            <label for="monthly" (click)="onRepeat('Monthly')">Monthly
                <input type=" radio" name="monthly" id="monthly">
            </label>
            <label for="yearly" (click)="onRepeat('Yearly')">Yearly
                <input type=" radio" name="yearly" id="yearly">
            </label>
        </div>
        <button type="submit" (click)="onSubmit()" [disabled]="!eventForm.valid || !repeat">Create</button>
    </form>
</div>