<div class="container">
    <h1>Create an event</h1>
    <form action="">
        <label for="">Title <br>
            <input type="text">
        </label><br><br>
        <label for=""> Description <br>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </label><br><br>
        <div class="date">
            <label for="">Date <br>
                <input type="date">
            </label> 
            <label for="">Time <br>
                <input type="time">
            </label>
        </div>
        <p>Repeat</p>
        <div class="repeat-options">
            <label for="just-once" ng-click="selected()">Just once 
                <input type="radio" name="just-once" id="just-once">
            </label>
            <label for="daily">Daily
                <input type="radio" name="daily" id="daily">
            </label>
            <label for="weekly">Weekly 
                <input type="radio" name="weekly" id="weekly">
            </label>
            <label for="bi-weekly">Bi-weekly
                <input type="radio" name="bi-weekly" id="bi-weekly">
            </label>
            <label for="monthly">Monthly
                <input type="radio" name="monthly" id="monthly">
            </label>
            <label for="yearly">Yearly 
                <input type="radio" name="yearly" id="yearly">
            </label>
        </div>
        <button type="submit" routerLink="../events">Create</button>
    </form>
</div>