<div class="container">
    <h1>Create an event</h1>
    <form action="">
        <label for="">Title <br>
            <input type="text">
        </label><br><br>
        <label for=""> Description <br>
            <textarea name="" id="" cols="30" rows="10"></textarea>
        </label><br><br>
        <div class="date">
            <label for="">Date <br>
                <input type="date">
            </label><br>br  
            <label for="">Time <br>
                <input type="time">
            </label><br><br>
        </div>
        <button type="submit" routerLink="../notes">Create</button>
    </form>
</div>